//Colors
$primary: #ee1251;
$secondary: #ffaf78;
$white: #fefefe;
$black: #333;
$gray: #ddd;
$gray--dark: #888;
$gray--light: #f8f9fa;


//Offsets
$offset--base: 15px;
$offset--sm: 5px;
$offset--lg: 40px;

//Sizes
$navbar-height: 50px;
