.home-stats {
    $parent: &;
    &__item {
        background-color: $gray--light;
        border: 1px solid transparent;
        font-size: 22px;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-flow: column;
        padding-top: $offset--lg;
        padding-bottom: $offset--lg;
        transition: 0.3s;
        color: $gray--dark;
        margin-bottom: $offset--base*2;
        font-weight: lighter;

        &:hover {
            border-color: $primary;
            box-shadow: 0 10px 15px -10px rgba($black, 0.2);
            transform: translateY(-2px);
        }
        &--action{
            background-color: $primary;
            color: $white;
            font-weight: bold;
            #{$parent}__item-number {
                color: $white;
            }

        }
    }
    &__item-number{
        color: $primary;
        display: block;
        font-weight: bold;
        font-size: 140%;
    }
}