@using Microsoft.CodeAnalysis
@model PhoneService.Core.Models.Repair.RepairUpdateRequest

<h2>Dodaj części zamienne dla naprawy</h2>

<h5>Numer naprawy: <strong>@Model.RepairId</strong> <br />Status: <strong>@Model.StatusId</strong></h5>

<br />
<h4>Opis usterki</h4>
<hr />
<div class="col-sm-12">
    <p>@Model.Description</p>
</div>

<br />
<h4>Wycena usterki i zarządzanie naprawą</h4>
<hr />
<div>
    <form asp-controller="Repair" asp-action="UpdateRepair" asp-route-repairId="" method="post" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="CustomerId" />
        <input type="hidden" asp-for="Description" />
        <input type="hidden" asp-for="ProductId" />
        <input type="hidden" asp-for="RepairId" />
        <input type="hidden" asp-for="CreateTime" value="@DateTime.Now" />
        <input type="hidden" asp-for="StatusId" value="2" />
        <a href="#" onclick="addItem()">Dodaj kolejną część</a>
        <br/>
        <div class="form-group" id="item-list">
            <div class="items">
                <input type="hidden" asp-for="RepairItems[0].RepairId" />
                <input asp-for="RepairItems[0].SaparePartId" />
                <input asp-for="RepairItems[0].Quantity" />
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Zapisz wycenę" class="btn btn-default" />
        </div>
    </form>
</div>

<script type="text/javascript">

    function addItem() {
        var i = $(".items").length;
        var n = '<div class="items"><input type="hidden" asp-for="RepairItems[' +
            i +
            '].RepairId"/> ' +
            '<input asp-for="RepairItems[' +
            i +
            '].SaparePartId"/>' +
            '<input asp-for="RepairItems[' +
            i +
            '].Quantity"/></div>';
        $("#item-list").append(n);
    };


</script>