/* BASE */
/* line 2, ../sass/base/_typography.scss */
a:hover {
  color: inherit;
}
/* line 5, ../sass/base/_typography.scss */
a:hover, a:focus {
  text-decoration: none;
}

/* line 10, ../sass/base/_typography.scss */
.page-heading {
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
  margin-bottom: 30px;
  font-weight: lighter;
}

/* line 1, ../sass/base/_global.scss */
body {
  padding-top: 50px;
  font-size: 14px;
}

/*
 * Content
 */
/* line 10, ../sass/base/_global.scss */
[role="main"] {
  padding: 30px;
}

/*
 * Sidebar
 */
/* line 17, ../sass/base/_global.scss */
.sidebar {
  position: fixed;
  top: 15px;
  bottom: 0;
  left: 0;
  z-index: 100;
  /* Behind the navbar */
  padding: 50px 0 0;
  /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

/* line 27, ../sass/base/_global.scss */
.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 50px);
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}

@supports (position: -webkit-sticky) or (position: sticky) {
  /* line 36, ../sass/base/_global.scss */
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}
/* line 42, ../sass/base/_global.scss */
.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

/* line 47, ../sass/base/_global.scss */
.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

/* line 52, ../sass/base/_global.scss */
.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

/* line 57, ../sass/base/_global.scss */
.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */
/* line 66, ../sass/base/_global.scss */
.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

/* line 72, ../sass/base/_global.scss */
.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

/* line 78, ../sass/base/_global.scss */
.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}


.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}


#qrCode {
    margin: 15px;
}


@media screen and (max-width: 767px) {
    .carousel-caption {
        display: none;
    }
}
*/
/* line 1, ../sass/components/_header.scss */
.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}
/* line 4, ../sass/components/_header.scss */
.navbar-brand img {
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
}

/* line 10, ../sass/components/_header.scss */
.navbar-text {
  margin-bottom: 0;
}

/* line 15, ../sass/components/_header.scss */
.sidebar .nav-link {
  padding-top: 15px;
  padding-bottom: 15px;
  transition: background-color 0.3s;
}
/* line 19, ../sass/components/_header.scss */
.sidebar .nav-link i {
  text-align: center;
  width: 30px;
}
/* line 23, ../sass/components/_header.scss */
.sidebar .nav-link.active {
  background-color: #ee1251;
  color: #fefefe;
}
/* line 26, ../sass/components/_header.scss */
.sidebar .nav-link.active:hover {
  background-color: #bf0e41;
}
/* line 30, ../sass/components/_header.scss */
.sidebar .nav-link:hover {
  background-color: #ddd;
}

/* line 1, ../sass/components/_badges.scss */
.badge {
  font-size: 0.85rem;
  font-weight: normal;
  padding: 5px 10px;
}

/* line 1, ../sass/components/_search.scss */
.search-component {
  padding-bottom: 40px;
}

/* VIEWS */
/* line 3, ../sass/home/_index.scss */
.home-stats__item {
  background-color: #f8f9fa;
  border: 1px solid transparent;
  font-size: 22px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding-top: 40px;
  padding-bottom: 40px;
  transition: 0.3s;
  color: #888;
  margin-bottom: 30px;
  font-weight: lighter;
}
/* line 18, ../sass/home/_index.scss */
.home-stats__item:hover {
  border-color: #ee1251;
  box-shadow: 0 10px 15px -10px rgba(51, 51, 51, 0.2);
  transform: translateY(-2px);
}
/* line 23, ../sass/home/_index.scss */
.home-stats__item--action {
  background-color: #ee1251;
  color: #fefefe;
  font-weight: bold;
}
/* line 27, ../sass/home/_index.scss */
.home-stats__item--action .home-stats__item-number {
  color: #fefefe;
}
/* line 33, ../sass/home/_index.scss */
.home-stats__item-number {
  color: #ee1251;
  display: block;
  font-weight: bold;
  font-size: 140%;
}
