@model PhoneService.App.DTO.Account.UserForLoginDto

@{
    Layout = "_LayoutLogin";
}


<form class="form-signin" asp-action="Login" asp-controller="Account" method="post">
    <img class="mb-4" src="images/telmax-logo.png" alt="" width="100" />
         
    <h3 class="mb-3 font-weight-normal">Logowanie do Serwisu</h3>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label for="inputEmail" class="sr-only">Nazwa Użytkownika</label>
        <input type="email" asp-for="Username" class="form-control" placeholder="Nazwa Użytkownika" required />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="inputPassword" class="sr-only">Hasło</label>
        <input type="password" asp-for="Password" class="form-control" placeholder="Hasło" required />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Zaloguj" class="btn btn-lg btn-danger btn-block" />
    </div>
    <p class="mt-5 mb-3 text-muted">TelMax - Serwis &copy; 2018-2019</p>
</form>


