
@{
    Layout = "_LayoutLogin";
}


<form class="form-signin">
    <h3>Pomyślnie wylogowano z Aplikacji</h3>
    <br />
    <p>Czy chcesz się ponownie zalogowac?</p>
    <br />
    @Html.ActionLink("Przenieś mnie do strony logowania", "Login", "Account")
</form>



