
@{
    ViewData["Title"] = "LogoutSuccess";
}

<h2>Pomyślnie Wylogowano z Aplikacji</h2>
<br/>
<p>Czy chcesz się ponownie zalogowac?</p>
<br/>
@Html.ActionLink("Przenieś mnie do strony logowania", "Login", "Account")


