@model PhoneService.Core.Models.Customer.CustomerAddRequest


<h2>Dodaj nowego klienta</h2>

<hr />
    <form asp-action="AddCustomer" asp-controller="Customer" method="post" asp-antiforgery="true" class="form row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-sm-6">
                    <legend>Dane podstawowe</legend>
                    <hr>
                <div class="form-group">
                        <label>Imię</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                            <label>Nazwisko</label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                            <label>Adres e-mail</label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                            <label>NIP</label>
                            <input asp-for="TaxNum" class="form-control" />
                            <span asp-validation-for="TaxNum" class="text-danger"></span>
                        </div>
            </div>
            
            <div class="col-sm-6">
                    <legend>Dane adresowe</legend>
                    <hr>
                    <div class="form-group">
                            <label>Numer tel.</label>
                            <input asp-for="PhoneNum" class="form-control" />
                            <span asp-validation-for="PhoneNum" class="text-danger"></span>
                        </div>
                        
                        <div class="form-group">
                                <label>Miasto</label>
                            <input asp-for="City" class="form-control" />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                                <label>Adres</label>
                            <input asp-for="Adress" class="form-control" />
                            <span asp-validation-for="Adress" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                                <label>Kod pocztowy</label>
                            <input asp-for="PostCode" class="form-control" />
                            <span asp-validation-for="PostCode" class="text-danger"></span>
                        </div>
            </div>
            <div class="col-12">
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-lg" ><i class="fas fa-plus"></i> Dodaj</button>
                    </div>
            </div>
        </form>
    </div>
</div>

<div>
        <a asp-action="Index" asp-controller="Customer"><i class="fa fa-arrow-left" aria-hidden="true"></i> Powrót do listy</a>
</div>

