@model IEnumerable<PhoneService.Domain.Customer>

<div>
    <table class="table">
        <thead>
            <tr>
                <td>Imię</td>
                <td>Nazwisko </td>
                <td>Email</td>
                <td>Telefon</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>@customer.Name</td>
                    <td>@customer.LastName</td>
                    <td>@customer.Email</td>
                    <td>@customer.PhoneNum</td>
                </tr>
            }
        </tbody>
    </table>
</div>