<h1>Panel główny</h1>

<h4 class="page-heading">
    Podsumowanie bieżących napraw
</h4>

<section class="home-stats d-flex flex-wrap">
    <div class="col-4">
        <article class="home-stats__item item">
            <span class="item__number">20</span>
            Zarejestrowanych
        </article>
    </div>
    <div class="col-4">
        <article class="home-stats__item item">
            <span class="item__number">20</span>
            Zarejestrowanych
        </article>
    </div>
    <div class="col-4">
        <article class="home-stats__item item">
            <span class="item__number">20</span>
            Zarejestrowanych
        </article>
    </div>
    <div class="col-4">
        <article class="home-stats__item item">
            <span class="item__number">20</span>
            Zarejestrowanych
        </article>
    </div>
    <div class="col-4">
        <article class="home-stats__item item">
            <span class="item__number">20</span>
            Zarejestrowanych
        </article>
    </div>
</section>