@using PhoneService.App.DTO.Users
@model PhoneService.App.DTO.Users.UserAdminForEditDto

<h2>Zmień hasło - <small>@Model.Username</small></h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePassword" asp-controller="Users" method="post" asp-antiforgery="true" asp-route-id="">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="UserId"/>
            <div class="form-group">
                <label for="">Nazwa Użytkownika</label>
                <input asp-for="Username" class="form-control" disabled/>
            </div>
            <div class="form-group">
                <label for="">Email</label>
                <input asp-for="Email" class="form-control" disabled/>
            </div>
            <div class="form-group">
                <label for="">Obecne hasło</label>
                <input asp-for="OldPassword" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="">Nowe hasło</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="">Potwierdź nowe hasło</label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="">Uprawnienia</label>
                <input asp-for="RoleName" class="form-control" disabled/>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-lg"><i class="fas fa-save"></i> Zapisz</button>
            </div>
        </form>
    </div>
</div>

<div>
        <a asp-action="Index" asp-controller="Users"><i class="fa fa-arrow-left" aria-hidden="true"></i> Powrót</a>
</div>