@model List<PhoneService.Core.Models.RepairItem.RepairItemAddRequest>

<div class="items">
    <input type="hidden" asp-for="@Model[0].RepairId" />
    <input asp-for="@Model[0].SaparePartId" />
    <input asp-for="@Model[0].Quantity" />
</div>