@model PhoneService.Core.Models.RepairItem.RepairItemAddRequest


<div class="form-group">
    <input type="hidden" asp-for="SaparePartId"/>
    <input type="hidden" asp-for="Quantity"/>
    <input type="hidden" asp-for="RepairId"/>
</div>