@model PhoneService.Core.Models.SaparePart.SaparePartAddRequest


<h2>Dodaj nową cześć</h2>
<br/>

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddSaparePart" asp-controller="SaparePart" method="post" asp-antiforgery="true" asp-route-productId="">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductId"/>
            <div class="form-group">
                <label for="">Nazwa</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="">Numer referencyjny</label>
                <input asp-for="ReferenceNumber" class="form-control" />
                <span asp-validation-for="ReferenceNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="">Cena jednostkowa</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Dodaj część</button>
            </div>
        </form>
    </div>
</div>

<div>
    <p><a asp-action="Details" asp-controller="Product" asp-route-productId="@Model.ProductId"><i class="fa fa-arrow-left" aria-hidden="true"></i> Wróć do produktu</a></p>
</div>

