<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div>
        Witaj <b>{0} {1}</b>
        <br />
        W serwisie TelMax zarejestrowaliśmy Twoje konto.
        <br />
        <b>Dane Twojego konta:</b>
        <br />
        <b>Imię i nazwisko: </b>{0} {1}
        <br />
        <b>Numer Telefonu: </b>{2}
        <br />
        <b>Email: </b>{3}
        <br />
        <b>Adres: </b>{4} {5}
        <br />
        Dziękujemy za zaufanie.
    </div>

</body>
</html>